<nav class='navbar navbar-default' role='navigation'>
<div class='navbar-header'>
<button class='navbar-toggle' data-target='#example-navbar-collapse' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<a class='navbar-brand visible-xs uppercase' href='#'>Navigation</a>
</div>
<div class='collapse navbar-collapse' id='example-navbar-collapse'>
<ul class='nav navbar-nav uppercase'>
<li>
<a href='/#/'>Home</a>
</li>
<li>
<a href='/#/c3js'>C3JS</a>
</li>
<li>
<a href='/#/orbcsv'>ORBITAL</a>
</li>
<li>
<a href='/#/orbcsv2'>ORBITAL2</a>
</li>
</ul>
</div>
</nav>
