%general-navigation

.hero-unit.post
  %h1 'c3js!
  %p You now have
  %h1 Sample directives
  %h2 Most basic sample
  %c3chart{"bindto-id" => "chart1"}
    %chart-column{"column-id" => "data-1", "column-type" => "line", "column-values" => "30,200,100,400,150,250"}/
  %h2 Using json based data coming from the model
  %c3chart{"bindto-id" => "chart2", "chart-columns" => "datacolumns", "chart-data" => "datapoints"}
  %h2 Add meaning to the x axis and change names and colors
  %c3chart{"bindto-id" => "chart3", "chart-columns" => "datacolumns2", "chart-data" => "datapoints2", "chart-x" => "datax2"}
  %h2 Chart with new Library
  %angularchart{:dataset => "dataset", :options => "options", :schema => "schema"}
%general-footer
