.footer
  .container.text-center
    /
      <div class='small-nav'>
      <a href='/#/about'>Learn</a>
      <a href='/#/contact'>Contact Us</a>
      <a href='/#/privacy'>Privacy Policy</a>
      <a href='/#/terms'>Terms of Service</a>
      </div>
    .social-links
      %a#facebook.social-button{:href => "https://www.facebook.com/chintamanil"}
        %i.fa.fa-facebook.fa-3x.space
      %a#twitter.social-button{:href => "https://twitter.com/chintamanil"}
        %i.fa.fa-twitter.fa-3x
      %a#github.social-button{:href => "https://github.com/chintamanil"}
        %i.fa.fa-github.fa-3x
      %a#instagram.social-button{:href => "https://instagram.com/chintamanil"}
        %i.fa.fa-instagram.fa-3x
      %a#linkedin.social-button{:href => "https://www.linkedin.com/in/chintamanil"}
        %i.fa.fa-linkedin.fa-3x
    %br
      .copy © 2015 SFO, California.
