%nav.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#example-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand.visible-xs.uppercase{:href => "#"} Navigation
  #example-navbar-collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav.uppercase
      %li
        %a{:href => "/#/"} Home
      %li
        %a{:href => "/#/c3js"} C3JS
      %li
        %a{:href => "/#/nvd3"} NVD3
      %li
        %a{:href => "/#/dcjs"} DCJS
